# Игнорировать наш "пузырь" (виртуальное окружение)
venv/

# Игнорировать кэш Python
__pycache__/

# Игнорировать файлы баз данных SQLite
*.db
*.db-journal*

# Игнорировать системный мусор macOS
.DS_Store